<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jusik Game</title>
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <h1>Jusik Game</h1>
      <p>주식 시뮬레이터 게임</p>
    </main>
  </body>
</html>
