<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jusik Game - Sign Up</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/form.css">
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <h1>Sign Up</h1>
      <form action="/user/signup" method="post">
        <table>
          <tr>
            <td>Username</td>
            <td><input type="username" name="username" required /></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" name="password" required /></td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit">계정 만들기</button><br />
              이미 계정이 있나요?&nbsp;
              <a href="/user/signin">로그인</a>
            </td>
          </tr>
        </table>
      </form>
    </main>
  </body>
</html>
