<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jusik Game - Sign In</title>
  </head>
  <body>
    <%- include("./nav.ejs") %>
    <main>
      <h1>Sign In</h1>
      <form action="/user/signin" method="post">
        <table>
          <tr>
            <td>Username</td>
            <td><input type="username" name="username" required /></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" name="password" required /></td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit">로그인</button><br />
              <a href="/user/signup">새 계정 만들기</a>
            </td>
          </tr>
        </table>
      </form>
    </main>
  </body>
</html>
